/* Definindo algumas variaveis CSS que são as cores que vamos utilizar na aplicação */
:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00837E;
  --green-300: #00875f;
}

/* Sobrescrevendo meu FOCUS do CSS para todas as "seleçoes no meu app" */
:focus{
  outline: transparent;/*tirando o focus padrao BORDA BRANCA*/
  box-shadow: 0 0 0 2px var(--green-500);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased; /*aplica nos navegadores baseados com webkit uma padronização de fonte mais detalhada praticamente quando não usamos fontes padrão do sistema*/
  /*nesse caso estamos importando do google a Font ROBOto*/
}

body, input, textarea, button { /*por padrão esses elemtnso não herdam o padrão de font do body, eles tem seu proprio padrão de fontes*/
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;/*uma unidade relativa do tamanho de fonte padrão do HTML que já é 16px e vai se adequar conforme o tamanho da fonte que o usuario por no seu dispositivo*/
}